body {
    margin: 0px;
    height: 100%;
    background-color: darkred;
}

html {
    margin: 0px;
    height: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    width: 500px;
}